@import 'syntax-variables';

@hues: 50;
@saturation: 100%;
@luminosity: 60%;
@fade: 40%;

.rainbow-error .region {
  border: 1px solid red;
}

.generate-rainbows(@n, @i: 1) when (@i =< @n) {
  @hue: @i * 48;
  @saturation: (90 - 10 * floor(@i / 10)) / 100;
  @luminosity: (50 - 10 * floor(@i / 10)) / 100;
  @color: hsl(@hue, @saturation, @luminosity);

  .rainbow-@{i} .region {
    @slice: contrast(@syntax-background-color, tint(@color, @fade), shade(@color, @fade));
    border-bottom: 1px solid @slice;
  }
  .generate-rainbows(@n, (@i + 1));
}

.generate-rainbows(@hues);
